* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

nav {
    height: 80px;
    width: 95%;
    background-color: black;
}

nav ul {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 1em;

    font-weight: 800;
    list-style-type: none;

    .logo {
        margin-right: auto;
    }

    a {
        color: #c2b9d3;
        text-decoration: none;
    }

    li {
        margin: 5px 10px;
        padding: 5px;
    }

    button {

        border: none;
        color: white;
        height: 40px;
        width: 130px;
        border-radius: 25px;
        background-color: #6c5ce7;
    }
}

.forward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
    left: 35%;
    z-index: 2;

    button {

        border: none;
        color: white;
        height: 40px;
        width: 350px;
        border-radius: 25px;
        background-color: #6c5ce7;
    }

    p {
        color: #6c5ce7;
    }
}

.main {
    position: relative;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/lap.png');

    img {
        position: absolute;

    }
}

.slogan {
    font-size: 2em;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 0%;
}

.content h1 {
    font-weight: 800;
    font-size: 6em;
}





.detail {
    background-color: white;
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #6b6596;
}

.detail p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #ccc;
}

.social-stats .text {
    padding: 4px;
    margin: 0;
    font-size: 14px;
    color: #999;
    background-color: #bbbbbb;
    color: #111;

}

.social-stats .number {
    padding: 3px;

    border: 1px solid rgb(84, 83, 83);
    ;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.button:hover {
    background-color: #eee;
}


.text {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 0.5px solid #333;
}

.count {
    font-weight: bold;
    color: #555;
}

.service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ddd;

}

.left {

    top: 40%;
    max-width: 50vw;
    margin-left: 60px;
    margin-top: 60px;
}

.feature-item {
    flex: 1 1 30%;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.feature-item img {
    width: 50px;
    margin-bottom: 10px;
}

.item-detail {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-detail h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.item-detail p {
    font-size: 14px;
    color: black;
}

.editor-preview {
    margin-top: 50px;
}

.editor-preview h3 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #6c5ce7;
}

.editor-preview img {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 5px;
}




/* Testimonials  */
.testimonials {
    background-image: url(img/testmonials-bg\ 1.png);
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonials h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.testimonial-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonial-item {
    flex: 1 1 30%;
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-item img {
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
}

.testimonial-item p {
    font-size: 14px;
    color: #ccc;
    margin: 0 20px;
}

.footer-note {
    max-width: 80%;
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #444;
}

/* Pricing Section */
.pricing {
    background-image: url('img/bg.png');
    background-color: #111;
    color: #fff;
    padding: 50px 0;
}

.pricing h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;

}

.pricing-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing-item {
    background-color: #9593a8;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 20%;
    margin: 10px;
    min-width: 200px;
    min-height: 460px;
}

.pricing-item:hover {
    background-color: #6b6596;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 20%;
    margin: 10px;
    min-height: 560px;
}

.type {
    background-color: #9593a8;
    width: 100%;
}

.type h3 {
    font-size: 24px;
    margin-bottom: 10px;

}

.pricing-item .price {
    font-size: 48px;
    margin: 20px 0;
}

.pricing-item p {
    font-size: 14px;
    color: #ccc;
}

.purchase-btn {
    background-color: #6c5ce7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}